@if (liveStream(); as liveStream) {

<div class="w-full h-full flex flex-col items-center p-3">
  @if (chatHintMessage(); as hintMessage) {
  <app-hint class="w-full" [text]="hintMessage"></app-hint>
  }
  <input
    #searchInput
    type="text"
    placeholder="Send a message"
    class="w-full h-14 border border-white/10 rounded-md bg-inherit px-2 text-white disabled:bg-gray-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:text-gray-500 disabled:placeholder-gray-500"
    (input)="setMessage($any($event.target).value)"
    [value]="message()"
    [autofocus]="true"
    [disabled]="!canSendMessage() || sendingMessage()"
    [ngClass]="{
      'rounded-t-none border-t-0': !!chatHintMessage(),
    }"
  />
  <button
    pRipple
    class="w-14 h-10 rounded-lg bg-blue-600 outline-none ml-auto text-white mt-3 disabled:bg-gray-800 disabled:cursor-not-allowed disabled:opacity-50 disabled:text-gray-500 disabled:placeholder-gray-500"
    type="button"
    [disabled]="!canSendMessage() || sendingMessage()"
    (click)="messageSent$.next(sendMessage())"
  >
    Chat
  </button>
</div>
}
