<nav
  class="relative w-full h-full z-40 bg-gray-800 px-2 lg:px-4 flex justify-between items-center shadow-sm"
>
  <app-main-logo></app-main-logo>
  <app-search class="w-[30%] sm:min-w-[40%]"></app-search>
  <div class="flex flex-row gap-3 sm:pr-5 items-center justify-center">
    @if (authService.isAuthenticated()) {
    <button
      variant="link"
      class="hover:opacity-75 text hover:no-underline"
      [routerLink]="['/creator']"
    >
      <app-clapper-board-icon></app-clapper-board-icon>
      <span class="hidden lg:block">Dashboard</span>
    </button>

    <app-main-profilebar></app-main-profilebar>

    } @else {
    <button
      pRipple
      class="w-20 h-10 rounded-lg bg-slate-600 outline-none"
      (click)="openAuthModal()"
    >
      Login
    </button>
    }
  </div>
</nav>

<app-auth
  [visible]="authModalVisible()"
  (closeModalClicked)="closeAuthModal()"
></app-auth>
