<div
  class="flex flex-col sm:flex-row w-full h-full bg-slate-900 overflow-hidden"
  [autofocus]="true"
>
  <div class="w-full sm:w-[80%] h-full overflow-y-auto scroller-none">
    <div
      class="w-full h-[60%] sm:h-[70%] flex flex-col items-center justify-center border-b border-tw-tertiary"
    >
      <div class="text-center flex flex-col items-center">
        <app-offline-streamer-icon />
        <p class="mb-4 text-lg text-gray-600">
          {{ streamError().message }}
        </p>
        <div class="animate-bounce">
          <svg
            class="mx-auto h-16 w-16 text-red-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
            ></path>
          </svg>
        </div>
        <p class="mt-4 text-gray-600">
          Let's get you back <a routerLink="/" class="text-blue-500">home</a>.
        </p>
      </div>
    </div>
    <div class="w-full h-fit sm:h-[30%] border-tw-secondary border-t">
      <app-stream-header />

      @if (streamFacade.isHost(); as isHost) { @defer(when isHost){
      <app-stream-option-card />
      } }

      <app-stream-about></app-stream-about>
    </div>
  </div>
  <div
    class="chat-sidebar w-full sm:w-[20%] h-full pt-2 sm:pt-0 border-l border-tw-secondary"
  >
    <app-chat-sidebar />
  </div>
</div>
