<main class="w-full h-full flex flex-col overflow-y-auto">
  <div class="navbar-container w-full h-[10%]">
    <app-creator-navbar
      class="text-white flex items-center justify-between fixed top-0 left-0"
    />
  </div>
  <div class="sidebar-main-container flex w-full h-full">
    <div class="sidebar-container h-full">
      <app-creator-sidebar
        class="text-white h-full left-0 flex flex-col fixed top-20"
      />
    </div>

    <div class="main w-full h-full ml-60 overflow-y-auto">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
