<aside
  #sidebarRef
  class="h-full pt-4 transition duration-150 ease-in-out overflow-y-auto border-tw-tertiary border-r"
  [ngClass]="layoutService.sidebarOpen() ? 'transform w-60' : 'transform w-20'"
>
  <div
    class="h-20 w-full flex items-center justify-between shadow rounded-tr rounded-br cursor-pointer p-4 text-white"
    (click)="layoutService.toggleSidebar()"
  >
    <span class="hideable font-semibold">For you</span>

    <app-collapse-left-icon class="collapse-left-icon"></app-collapse-left-icon>
    <app-expand-right-icon
      class="expand-right-icon hidden"
    ></app-expand-right-icon>
  </div>

  <div class="streamers">
    <app-streamers />
  </div>
</aside>
