<aside
  #sidebarRef
  class="fixed left-0 h-full mt-20 pt-4 bg-gray-800 transition duration-150 ease-in-out overflow-y-auto"
  [ngClass]="sidebarOpen() ? 'transform w-60' : 'transform w-20'"
>
  <div
    class="h-20 w-full flex items-center justify-between shadow rounded-tr rounded-br cursor-pointer p-4 text-white"
    (click)="toggleSidebar()"
  >
    <span class="font-semibold">For you</span>

    <app-collapse-left-icon class="collapse-left-icon"></app-collapse-left-icon>
    <app-expand-right-icon
      class="expand-right-icon hidden"
    ></app-expand-right-icon>
  </div>

  <div class="h-2">
    <span class="text-muted-foreground font-semibold px-4">Recommended</span>
  </div>

  <div class="pt-6 mt-auto">
    <app-streamers class="px-4"></app-streamers>
  </div>
</aside>
