<nav
  class="relative w-full h-full z-40 bg-gray-800 px-2 lg:px-4 flex justify-between items-center shadow-sm"
>
  <app-creator-logo></app-creator-logo>
  <div class="flex flex-row gap-3 sm:pr-5 items-center justify-center">
    <button
      variant="link"
      class="hover:opacity-75 hover:no-underline font-semibold text-white flex flex-row gap-1"
      [routerLink]="['/']"
    >
      <app-arrow-right-icon></app-arrow-right-icon>
      <p class="hidden lg:block">Exit</p>
    </button>
    <app-main-profilebar></app-main-profilebar>
  </div>
</nav>
