<div
  class="flex flex-col sm:flex-row w-full h-full overflow-y-auto"
  [autofocus]="true"
>
  <div class="w-full sm:w-[80%] h-full">
    <div
      class="w-full h-full sm:h-[80%] flex flex-col items-center justify-center"
    >
      <div class="text-center">
        <h1 class="mb-4 text-6xl font-semibold text-red-500">404</h1>
        <p class="mb-4 text-lg text-gray-600">Streamer does not exist</p>
        <div class="animate-bounce">
          <svg
            class="mx-auto h-16 w-16 text-red-500"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"
            ></path>
          </svg>
        </div>
        <p class="mt-4 text-gray-600">
          Let's get you back <a href="/" class="text-blue-500">home</a>.
        </p>
      </div>
    </div>
    <div class="hidden sm:block w-full h-[20%] bg-slate-200"></div>
  </div>
  <div class="chat-sidebar w-full sm:w-[20%] h-full bg-wp-primary pt-4 sm:pt-0">
    <app-chat-sidebar></app-chat-sidebar>
  </div>
</div>
