@if (liveStreamer(); as liveStreamer) {
<a
  class="flex flex-row justify-start items-center cursor-pointer hover:bg-muted-foreground px-5 h-12 hover:bg-gray-600"
  [routerLink]="['/', liveStreamer.user.username]"
  type="button"
>
  <app-streamer-avatar
    [user]="liveStreamer.user"
    [isLive]="!!liveStreamer.startedAt"
    class="w-10 h-10"
  />
  <span class="hideable text-white font-semibold px-5 truncate">
    {{ liveStreamer.user.username }}
  </span>

  <span
    class="hideable text-white bg-rose-500 text-center p-0.5 px-1.5 rounded-md text-[10px] border border-background font-semibold tracking-wide w-10 ml-auto"
    >LIVE</span
  >
</a>
}
