@if (isLive()) {

<ng-container
  *ngTemplateOutlet="liveTemplate; context: { liveStreamer: user() }"
></ng-container>

} @else {
<ng-container
  *ngTemplateOutlet="offlineTemplate; context: { streamer: user() }"
></ng-container>
}

<ng-template #liveTemplate let-liveStreamer="liveStreamer">
  <a
    class="flex flex-row justify-start items-center cursor-pointer hover:bg-muted-foreground px-5 h-12 hover:bg-gray-600"
    [routerLink]="['/', liveStreamer.user.username]"
    type="button"
  >
    <img
      [src]="userImageService.getProfileImageUrl(liveStreamer.user)"
      class="w-10 h-10 rounded-full ring-2 ring-rose-500 border border-background"
      alt="user image"
    />

    <span class="hideable text-white font-semibold px-5 truncate">
      {{ liveStreamer.user.username }}
    </span>

    <span
      class="hideable text-white bg-rose-500 text-center p-0.5 px-1.5 rounded-md text-[10px] border border-background font-semibold tracking-wide w-10 ml-auto"
      >LIVE</span
    >
  </a>
</ng-template>

<ng-template #offlineTemplate let-streamer="streamer">
  <a
    class="flex flex-row justify-start items-center cursor-pointer hover:bg-muted-foreground px-5 h-12 hover:bg-gray-600"
    [routerLink]="['/', streamer.username]"
    type="button"
  >
    <img
      [src]="userImageService.getProfileImageUrl(streamer)"
      class="w-10 h-10 rounded-full"
      alt="user image"
    />

    <span class="hideable text-white font-semibold px-5 truncate">
      {{ streamer.username }}
    </span>
  </a>
</ng-template>
