<div
  class="flex flex-col sm:flex-row w-full h-full overflow-y-auto bg-slate-900"
  [autofocus]="true"
>
  <div class="w-full sm:w-[80%] h-full">
    <div
      class="w-full h-[60%] sm:h-[80%] flex flex-col items-center justify-center border-b border-tw-tertiary"
    >
      <vg-player #player (onPlayerReady)="onPlayerReady($event)">
        <vg-overlay-play vgFor="stream"></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-controls>
          <vg-play-pause></vg-play-pause>
          <vg-playback-button></vg-playback-button>

          <vg-time-display
            vgProperty="current"
            vgFormat="hh:mm:ss"
          ></vg-time-display>

          <vg-scrub-bar style="pointer-events: none"></vg-scrub-bar>

          <vg-mute></vg-mute>
          <vg-volume></vg-volume>
          <vg-fullscreen></vg-fullscreen>
        </vg-controls>
        <video
          [vgMedia]="$any(media)"
          #media
          id="stream"
          preload="metadata"
          class="w-full h-full"
          [vgHls]="streamFacade.getHlsUrl()"
        ></video>
      </vg-player>
    </div>
    <div class="w-full h-max sm:h-[20%] bg-tw-primary">
      <app-stream-header />
    </div>
  </div>
  <div
    class="chat-sidebar w-full h-full sm:w-[20%] sm:h-full pt-4 sm:pt-0 border-tw-secondary"
  >
    <app-chat-sidebar></app-chat-sidebar>
  </div>
</div>
