@if (data(); as data) {
<div class="flex w-full gap-2 p-2 rounded-md hover:bg-white/5">
  <p class="text-sm text-white/40">{{ data.sentAt | date : "HH:MM" }}</p>
  <div class="flex flex-wrap items-baseline gap-1 grow">
    <p class="text-sm font-semibold whitespace-nowrap">
      <span
        class="truncate"
        [ngStyle]="{
          color: usernameColor(data.username)
        }"
      >
        {{ data.username }}:</span
      >
    </p>
    <p class="text-sm break-all">{{ data.message }}</p>
  </div>
</div>
}
