@if (chatSidebar(); as chatSidebar) {
<div class="w-full h-full px-3 flex flex-col">
  <div
    class="flex flex-row flex-1 w-full h-[5%] max-h-[5%] items-center justify-between text-white"
  >
    <span class="font-semibold">{{
      chatSidebar.variant === "chat" ? "Stream Chat" : "Community"
    }}</span>
    <a class="cursor-pointer" (click)="changeVariant()">
      @if (chatSidebar.variant==='chat') {
      <app-community-icon
        pTooltip="Community"
        tooltipPosition="left"
      ></app-community-icon>
      }@else {
      <app-chat-icon pTooltip="Chat" tooltipPosition="left"></app-chat-icon>
      }
    </a>
  </div>
  <app-chat
    class="flex w-full h-[95%] max-h-[95%]"
    [liveStream]="liveStream()"
    [chatMessages]="chatMessages()"
    (messageSend)="onMessageSend($event)"
  />
</div>
}
