@defer ( when !loaded()) {
<div
  class="key p-6 text-white w-full flex flex-col items-center justify-center"
>
  <div class="mb-4">
    <h1 class="text-2xl font-bold">Key & URL</h1>
  </div>
  <div class="flex flex-col w-[50%] items-center justify-center mb-14 gap-10">
    <div
      class="flex flex-col gap-2 w-full sm:flex-row items-center space-x-4 rounded-md p-4 bg-zinc-500"
    >
      <div class="space-y-1">
        <app-info-icon></app-info-icon>
      </div>
      <span class="flex-1"
        >After each stream, new stream key will be generated. Make sure to
        update your streaming software with the new key.</span
      >
    </div>
  </div>

  <div class="space-y-4 px-10 sm:w-[50%] gap-5 flex flex-col">
    <div
      class="flex flex-col gap-2 w-full sm:flex-row items-center space-x-4 rounded-md p-4 bg-gray-600"
    >
      <div class="flex-1 space-y-1">
        <p class="text-sm font-medium leading-none">Server URL</p>
      </div>
      <input
        type="text"
        [readOnly]="true"
        placeholder="rtmp://139.144.76.14/live"
        class="read-only:bg-white text-center w-[50%] rounded-md h-8 text-ellipsis"
      />
      <app-copy-clipboard
        [copyText]="'rtmp://139.144.76.14/live'"
      ></app-copy-clipboard>
    </div>

    @if (key(); as key) {
    <div
      class="flex flex-col gap-2 w-full sm:flex-row items-center space-x-4 rounded-md p-4 bg-gray-600"
    >
      <div class="flex-1 space-y-1">
        <p class="text-sm font-medium leading-none">Stream Key</p>
      </div>
      <input
        type="text"
        [readOnly]="true"
        [placeholder]="key"
        class="read-only:bg-white text-center w-[50%] rounded-md h-8 text-ellipsis"
      />
      <app-copy-clipboard [copyText]="key"></app-copy-clipboard>
    </div>
    }
    <button
      pRipple
      class="w-full sm:w-[50%] h-10 rounded-lg bg-slate-600 outline-none flex self-center text-center justify-center items-center"
      [disabled]="generateKeySubmitted()"
      (click)="generateStreamKey()"
    >
      @if (generateKeySubmitted()) {
      <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
      } @else {
      <span>Regenerate Stream Key</span>
      }
    </button>
  </div>
</div>

} @loading {
<app-key-skeleton></app-key-skeleton>
}
