@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";

@import "ngx-toastr/toastr";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}

:root {
  --primary-text: #1a202c;
  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #1f2937;
}

::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #202937;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #1f2937;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #293443;
}

::-webkit-scrollbar-thumb:active {
  background-color: #344153;
}

.sidebar-closed {
  .hideable {
    display: none;
  }

  .expand-right-icon {
    display: block;
  }

  .collapse-left-icon {
    display: none;
  }

  div.icon-container {
    padding: 0;
    justify-content: center;
  }
}

div.scroller-none {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media screen and (min-width: 640px) {
  aside {
    span {
      display: block;
    }

    .expand-right-icon {
      display: none;
    }

    .collapse-left-icon {
      display: block;
    }
  }
}

@media screen and (max-width: 640px) {
  aside.sidebar-container {
    display: none;
  }
}

input:focus-visible {
  outline: none;
  box-shadow: none;
}

input:enabled:focus-visible {
  outline: none;
  box-shadow: none;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(#000, 0.25);
}

.modal-container {
  z-index: 10000;
  margin-left: auto;
  margin-right: auto;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px 0 rgba(#000, 0.25);
  @media (max-width: 600px) {
    width: 90%;
  }
}

.modal-container-header {
  padding: 16px 32px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-container-title {
  display: flex;
  align-items: center;
  gap: 8px;
  line-height: 1;
  font-weight: 700;
  font-size: 1.125;
  svg {
    width: 32px;
    height: 32px;
    color: #750550;
  }
}

.modal-container-body {
  padding: 24px 32px 24px;
  overflow-y: auto;
}

.rtf {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h1 {
    font-size: 1.5rem;
    line-height: 1.125;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.25;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.5;
  }

  & > * + * {
    margin-top: 1em;
  }

  & > * + :is(h1, h2, h3) {
    margin-top: 2em;
  }

  & > :is(h1, h2, h3) + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    margin-left: 20px;
    list-style-position: inside;
  }

  ol {
    list-style: numeric;
  }

  ul {
    list-style: disc;
  }
}

.modal-container-footer {
  padding: 20px 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: 1px solid #ddd;
  gap: 12px;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: -51px;
    left: 24px;
    right: 24px;
    height: 50px;
    flex-shrink: 0;
    background-image: linear-gradient(to top, rgba(#fff, 0.75), transparent);
    pointer-events: none;
  }
}

.suggestions-dropdown {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2) !important;
  display: block;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4001;
  overflow-y: auto;
  max-height: 300px;

  width: 100%;
  background: transparent;
  border-radius: 8px;

  top: 3rem;
}
.suggestions-dropdown-item {
  cursor: pointer;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 8px 0px 16px;

  width: 100%;
  height: 48px;

  background: #35353b;
  /* Neutral/300Line */

  border: 1px solid #3c3c44;
}

.suggestions-dropdown-item:first-of-type {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.suggestions-dropdown-item:last-of-type {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.suggestions-dropdown-item:hover path {
  fill: #d1d7db !important;
}
.suggestions-dropdown-item:hover .item-text {
  color: white;
}
.suggestions-dropdown-item:hover {
  background-color: #696974 !important;
}
.suggestions-dropdown-item .item-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 4px;

  width: 100%;
  height: 48px;

  /* Body/S, regular */

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  /* Neutral/600Default */

  color: #94a0b8;
}
