@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
}

.sidebar-closed {
  .hideable {
    display: none;
  }

  .expand-right-icon {
    display: block;
  }

  .collapse-left-icon {
    display: none;
  }

  div.icon-container {
    padding: 0;
    justify-content: center;
  }

  div.main {
    margin-left: 5rem;
  }
}

@media screen and (min-width: 640px) {
  aside {
    span {
      display: block;
    }

    .expand-right-icon {
      display: none;
    }

    .collapse-left-icon {
      display: block;
    }
  }
}

input:focus-visible {
  outline: none;
  box-shadow: none;
}

input:enabled:focus-visible {
  outline: none;
  box-shadow: none;
}
