@if (visible()) {
<div class="modal text-black" #modalRef>
  <article class="modal-container min-w-[27rem] bg-white relative">
    <header class="modal-container-header">
      @if (!headerTemplate()) {
      <h1 class="modal-container-title">{{ header() }}</h1>
      }@else {
      <ng-container [ngTemplateOutlet]="headerTemplate()"></ng-container>
      }
      <button class="icon-button" (click)="emitCloseModalClicked()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
        >
          <path fill="none" d="M0 0h24v24H0z" />
          <path
            fill="currentColor"
            d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"
          />
        </svg>
      </button>
    </header>

    @if (bodyTemplate()) {
    <div
      class="modal-container-body rtf flex flex-col items-center justify-center w-full"
    >
      <ng-container [ngTemplateOutlet]="bodyTemplate()"></ng-container>
    </div>
    }
  </article>
</div>
}
