<div class="px-4">
  <div class="rounded-xl bg-tw-secondary p-2 lg:p-6 flex gap-y-3 text-white">
    <div class="flex items-start justify-between flex-col gap-2">
      <div class="flex items-center gap-x-2 font-semibold text-lg lg:text-2xl">
        About {{ streamer()?.user?.username }}
        <app-verified-icon></app-verified-icon>
      </div>
      <div class="text-sm">
        <span class="font-semibold"></span>
        {{ streamFollowerCount() }}
        <span class="text-gray-300">{{
          streamFollowerCount()! > 0 ? "followers" : "follower"
        }}</span>
      </div>
      <p>
        {{ streamDescription() }}
      </p>
    </div>
  </div>
</div>
