<div class="w-full flex flex-row items-center gap-3">
  <form
    class="w-full flex flex-row items-center justify-evenly text-white rounded-lg bg-gray-500"
  >
    <input
      #searchInput
      type="text"
      placeholder="Search"
      class="w-full border-none rounded-md text-white px-4 py-2 bg-gray-500"
      (input)="setSearch($any($event.target).value)"
      [value]="search()"
      [autofocus]="true"
    />
    @if (this.search()) {
    <i
      class="pi pi-times cursor-pointer hover:opacity-50 text-muted pr-2"
      (click)="setSearch('')"
    ></i>
    }
  </form>
  <i
    class="pi pi-search cursor-pointer text-primary-foreground hidden sm:block"
  ></i>
</div>
