<div class="w-full flex flex-row items-center gap-3">
  <form
    class="w-full flex flex-row items-center justify-evenly bg-gray-700 text-white rounded-lg"
  >
    <input
      #searchInput
      type="text"
      hlmInput
      placeholder="Search"
      class="w-full border-none rounded-md rounded-r-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0 text-white px-4 py-2"
      (input)="setSearch($any($event.target).value)"
      [value]="search()"
      [autofocus]="true"
    />
    @if (this.search()) {
    <i
      class="pi pi-times cursor-pointer hover:opacity-50 text-muted pr-2"
      (click)="setSearch('')"
    ></i>
    }
  </form>
  <i class="pi pi-search cursor-pointer text-primary-foreground"></i>
</div>
