@if (streamFacade.liveStream(); as liveStream) {
<div class="w-full h-full flex flex-col">
  @if (liveStream?.streamOption?.chatDisabled) {
  <ng-container [ngTemplateOutlet]="chatDisabledTemplate"></ng-container>
  } @else {
  <ng-container [ngTemplateOutlet]="chatTemplate"></ng-container>
  }
</div>
}

<ng-template #chatTemplate>
  <app-chat-list
    class="w-full h-[70%] max-h-[70%] sm:h-[80%] sm:max-h-[80%] items-start flex flex-col"
    [messages]="streamFacade.chatMessages()"
  />
  <app-chat-form class="w-full h-[30%] sm:h-[20%]"></app-chat-form>
</ng-template>

<ng-template #chatDisabledTemplate>
  <div class="w-full h-[80%] items-center justify-center flex flex-col">
    <app-chat-disabled-icon class="text-white"></app-chat-disabled-icon>
    <div class="text-white">Chat is disabled</div>
  </div>
  <app-chat-form class="w-full h-[30%] sm:h-[20%]" />
</ng-template>
