<div
  class="key p-6 text-white w-full flex flex-col items-center justify-center animate-pulse"
>
  <div class="mb-4">
    <h1 class="text-2xl font-bold">Key & URL</h1>
  </div>
  <div class="space-y-4 px-10 sm:w-[50%] gap-5 flex flex-col">
    <div
      class="flex flex-col gap-2 w-full sm:flex-row items-center space-x-4 rounded-md p-4 bg-gray-600"
    >
      <div class="flex-1 space-y-1">
        <p-skeleton width="5rem"></p-skeleton>
      </div>

      <p-skeleton width="10rem"></p-skeleton>
      <p-skeleton width="1rem"></p-skeleton>
    </div>

    <div
      class="flex flex-col gap-2 w-full sm:flex-row items-center space-x-4 rounded-md p-4 bg-gray-600"
    >
      <div class="flex-1 space-y-1">
        <p-skeleton width="5rem"></p-skeleton>
      </div>
      <p-skeleton width="10rem"></p-skeleton>
      <p-skeleton width="1rem"></p-skeleton>
    </div>
  </div>
</div>
