@if (followingStreamer(); as followingStreamer) {
<a
  class="flex flex-row justify-start items-center cursor-pointer hover:bg-muted-foreground px-5 h-12"
  [routerLink]="['/', followingStreamer.user.username]"
  type="button"
>
  <img
    [src]="userImageService.getProfileImageUrl(followingStreamer.user)"
    class="w-10 h-10 rounded-full"
    alt="user image"
    [ngClass]="{
      'ring-2 ring-rose-500 border border-background': false
    }"
  />
  <span class="hideable text-white font-semibold px-5 truncate">
    {{ followingStreamer.user.username }}
  </span>
</a>
}
